@{
    ViewData["Title"] = "Registro - Relatórios";
}
@model NewBISReports.Models.Administracao.CreateUserViewModel

<div class="wrapper full-page-wrapper page-auth page-login text-center">
        <div class="inner-page">
            <div class="login-box center-block">
                <section>                    
                    <form asp-controller="Administracao" asp-action="CreateUser" method="post">
                        <h3>Registro de Usuários</h3>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserName">Nome Completo</label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        @* <div class="form-group">
                            <label asp-for="Password">Senha</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword">Confirmar senha</label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div> *@
                        <div class="form-group">
                            <label >Nível de acesso</label>
                                <select class="select2" data-minimum-results-for-search="Infinity" asp-for="UserType" asp-items="@Model.UserTypes"></select>
                            </select>
                        </div>
                         
                        <button type="submit" class="btn btn-default">Registrar Usuário</button>
                    </form>
                </section>
            </div>
        </div>
    </div>

     <!-- Javascript Mínimo -->
<script src="~/KingAdmin/assets/js/jquery/jquery-2.1.0.min.js"></script>
<script src="~/KingAdmin/assets/js/bootstrap/bootstrap.js"></script>
<script src="~/KingAdmin/assets/js/plugins/modernizr/modernizr.js"></script>
<script src="~/KingAdmin/assets/js/plugins/bootstrap-tour/bootstrap-tour.custom.js"></script>

<!-- Javascript Datepicker -->
<script src="~/KingAdmin/assets/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/KingAdmin/assets/js/king-common.js"></script>
<script src="~/KingAdmin/assets/js/plugins/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="~/KingAdmin/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="~/KingAdmin/assets/js/plugins/select2/select2.min.js"></script>
