@{
    ViewData["Title"] = "Resultado";
}

<div class="wrapper full-page-wrapper page-auth page-login text-center">
        <div class="inner-page">
            <div class="login-box center-block">
                <div class="row">
                    <div class="col-md-12">
                        <h4>@ViewBag.Message</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-success" style="width:100%">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Javascript Mínimo -->
<script src="~/KingAdmin/assets/js/jquery/jquery-2.1.0.min.js"></script>
<script src="~/KingAdmin/assets/js/bootstrap/bootstrap.js"></script>
<script src="~/KingAdmin/assets/js/plugins/modernizr/modernizr.js"></script>
<script src="~/KingAdmin/assets/js/plugins/bootstrap-tour/bootstrap-tour.custom.js"></script>

<!-- Javascript Datepicker -->
<script src="~/KingAdmin/assets/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/KingAdmin/assets/js/king-common.js"></script>
<script src="~/KingAdmin/assets/js/plugins/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="~/KingAdmin/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="~/KingAdmin/assets/js/plugins/select2/select2.min.js"></script>
